<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GA_Identifier</key>
	<string>123-456789-012</string>
	<key>Foo1</key>
	<string>Bar1</string>
	<key>Foo2</key>
	<string>Bar2</string>
	<key>Foo3</key>
	<string>Bar3</string>
	<key>Foo4</key>
	<string>Bar4</string>
	<key>Foo5</key>
	<string>Bar5</string>
	<key>Foo6</key>
	<string>Bar6</string>
	<key>Foo7</key>
	<string>Bar7</string>
	<key>Foo8</key>
	<string>Bar8</string>
	<key>Foo9</key>
	<string>Bar9</string>
</dict>
</plist>
